<!doctype html>
<html ng-app>
    <head>
        <title>Views - Directives - Filters</title>
    </head>
    <body ng-init="people=[
    {name:'John', age:20, city:'New York', salary:2000.67, birthDate:'1996-01-31'},
    {name:'Aron', age:30, city:'Miami', salary:2400.34, birthDate:'1986-08-29'},
    {name:'Zac', age:40, city:'San Francisco', salary:3000, birthDate:'1976-12-27'}]">
        <input type="text" ng-model="nameForFiltering.name"/>
        <table>
            <tr>
                <th ng-click="sortBy='name';reverse=!reverse">Name</th>
                <th ng-click="sortBy='age';reverse=!reverse">Age</th>
                <th ng-click="sortBy='city';reverse=!reverse">City</th>
                <th ng-click="sortBy='salary';reverse=!reverse">Salary</th>
                <th ng-click="sortBy='bithDate';reverse=!reverse">Birth Date</th>
            </tr>
            <tr ng-repeat="person in people | filter:nameForFiltering | orderBy:sortBy:reverse">    
                <td>{{person.name}}</td>
                <td>{{person.age}}</td>
                <td>{{person.city}}</td>
                <td>{{person.salary | currency:'USD '}}</td>
                <td>{{person.birthDate | date:'dd-MM-yyyy'}}</td>
            </tr>
        </table>
        <script src="angular.min.js"></script>
    </body>    
</html>
